.pace .pace-progress {background: #43ad3f;}
.bigIcon,.socialList li a:hover{color: #43ad3f;}
.btn-new,.downloadNumber{background: #43ad3f}
.btn-new:hover,.btn-new:focus{background: #43ad3f}
#share{background-color: #43ad3f;}
